/ {
  chosen { zmk,pointing-device = &none; };

  encoder_left: encoder_left {
    compatible = "zmk,encoder";
    label = "LEFT_ENCODER";
    a-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
    b-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
    resolution = <4>;
    status = "okay";
  };
};

&i2c1 { status = "disabled"; };
&spi1 { status = "disabled"; };
